<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Quanquan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<servlet-class>servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterCheck</servlet-name>
  	<servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterCheck</servlet-name>
  	<url-pattern>/RegisterCheck</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InsertMessage</servlet-name>
  	<servlet-class>servlet.InsertMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertMessage</servlet-name>
  	<url-pattern>/InsertMessage</url-pattern>
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>GetMessages</servlet-name>
  	<servlet-class>servlet.GetMessages</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMessages</servlet-name>
  	<url-pattern>/GetMessages</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetUserById</servlet-name>
  	<servlet-class>servlet.GetUserById</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUserById</servlet-name>
  	<url-pattern>/GetUserById</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<servlet-class>servlet.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetMessagesByUserId</servlet-name>
  	<servlet-class>servlet.GetMessagesByUserId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMessagesByUserId</servlet-name>
  	<url-pattern>/GetMessagesByUserId</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateUserPhoto</servlet-name>
  	<servlet-class>servlet.UpdateUserPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateUserPhoto</servlet-name>
  	<url-pattern>/UpdateUserPhoto</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InsertMessageImage</servlet-name>
  	<servlet-class>servlet.InsertMessageImage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertMessageImage</servlet-name>
  	<url-pattern>/InsertMessageImage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>GetImagesByMessageId</servlet-name>
  	<servlet-class>servlet.GetImagesByMessageId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetImagesByMessageId</servlet-name>
  	<url-pattern>/GetImagesByMessageId</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetMessageById</servlet-name>
  	<servlet-class>servlet.GetMessageById</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMessageById</servlet-name>
  	<url-pattern>/GetMessageById</url-pattern>
  </servlet-mapping>
</web-app>